* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  display: block; 
  background-color: white;
  margin: 0; 
}

.todo-container {
  max-width: 500px;
  margin-top: 5000px; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


