a{ text-decoration: none;
  color:black;
}

.navbar{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 8px 12x;
}

.navbar_logo{
  color:green;
  margin-right: auto;
}

.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  display: inline-block;
}

.navbar_icon{
  list-style:none;
  color: black;
  display: flex;
}

.navbar_icon li{
  display: inline-block;
}
