body {
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e8ecf3;
}

h1 {
  text-align: center;
}

#listContainer {
  width: 700px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 #todoInput { 
  padding: 20px;
  width: 400px;
  border-width: 3px; 
  border-color: #3a3838;
  ::placeholder {
    color: #e8ecf3;
  }
}
.todoWrapper  {
  display : flex;
  margin-top: 20px;
}

#listSection, #doneSection  {
  width: 300px;
  color: black;
  span{
    border-bottom: 3px solid gray;
  }
}

#listSection li, #doneSection li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: none;
  border-bottom: 3px solid #cfdbec;
  display: flex;
  justify-content: space-between;
  
}
#listSection li button, #doneSection li button{
  font-weight: bolder;
  border: none;
  background-color: #cfdbec;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}