.app-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 20px; 
}

.movie-container {
  flex: 0 1 calc(10% - 10px); /* 한 줄에 10개씩*/
  margin: 5px; 
  position: relative;
}

img {
  width: 100%; /* 이미지의 너비를 컨테이너에 맞게 조정 */
  border-radius: 8px; /* 모서리 둥글게 */
}

.movie-container:hover:after{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  border-radius: 8px;
  z-index:1;
}